<div class="navigation">
  <div class="item_container">
    <a href="/compose">
      <div class="item band">Compose</div>
    </a>

    <a href="/inbox">
      <div class="item contact">Inbox</div>
    </a>

    <a href="/outbox">
      <div class="item more">Outbox</div>
    </a>

    <a href="/email_detail">
      <div class="item detail">Email Detail</div>
    </a>
  </div>

  <div class="username_login_success">@username_login_success</div>
</div>
