label {
  display: block;
  margin-bottom: 5px;
}
input[type="text"],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  outline: none;
}
input[type="file"],
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
}
input[type="submit"] {
  padding: 10px;
  border-radius: 3px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  outline: none;
}
input[type="submit"]:hover {
  background-color: #0056b3;
}

form {
  width: calc(100% - 140px);
  margin-left: 140px;
  margin-top: 20px;
  padding: 30px 100px;
}
